In [61]:
import pandas as pd

In [62]:
df=pd.read_csv('/Users/bibekrai/workspace/Nepal_Livestock_Analysis/data/merged_data.csv')

In [63]:
df=df[df['Districts']!='Total']

In [64]:
df

,_id,Districts,VDC/Municipality,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
0,1,Sankhuwasabha,Ankhibhui,4679,1197,3,69,9081,1557
1,2,Sankhuwasabha,Bahrabise,1800,241,-,215,2396,328
2,3,Sankhuwasabha,Bala,1723,172,-,369,1740,754
3,4,Sankhuwasabha,Bana,3221,706,-,35,5364,967
4,5,Sankhuwasabha,Baneswor,2476,619,3,-,4922,765
...,...,...,...,...,...,...,...,...,...
3218,41,Udayapur,Thoksila,8664,3156,-,366,13386,2359
3219,42,Udayapur,Tribeni,3218,1476,-,49,7426,421
3220,43,Udayapur,Triyuga Municipality,15961,4302,-,475,33224,3339
3221,44,Udayapur,Valayadanda,4952,1052,-,40,13673,596
3222,45,Udayapur,Mayankhu,1528,599,-,3,2726,197

In [65]:
df=df[df['Districts']!='Districts']

In [66]:
df.drop(columns='_id',inplace=True)

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/4124496059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='_id',inplace=True)

In [67]:
df['Cattle']=df['Cattle'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/358257951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cattle']=df['Cattle'].replace('-','')

In [68]:
df['Yak/ Nak/ Chauri']=df['Yak/ Nak/ Chauri'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/2753628860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Yak/ Nak/ Chauri']=df['Yak/ Nak/ Chauri'].replace('-','')

In [69]:
df['Buffalo']=df['Buffalo'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/39485160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Buffalo']=df['Buffalo'].replace('-','')

In [70]:
df['Goat']=df['Goat'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/1414105023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Goat']=df['Goat'].replace('-','')

In [71]:
df['Pig']=df['Pig'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/1258212062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Pig']=df['Pig'].replace('-','')

In [72]:
df['Sheep']=df['Sheep'].replace('-','')

/var/folders/l2/fqpyq8qx1xs_0rm0kph9rxl40000gn/T/ipykernel_1577/1646828551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sheep']=df['Sheep'].replace('-','')

In [73]:
df

,Districts,VDC/Municipality,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
0,Sankhuwasabha,Ankhibhui,4679,1197,3,69,9081,1557
1,Sankhuwasabha,Bahrabise,1800,241,,215,2396,328
2,Sankhuwasabha,Bala,1723,172,,369,1740,754
3,Sankhuwasabha,Bana,3221,706,,35,5364,967
4,Sankhuwasabha,Baneswor,2476,619,3,,4922,765
...,...,...,...,...,...,...,...,...
3218,Udayapur,Thoksila,8664,3156,,366,13386,2359
3219,Udayapur,Tribeni,3218,1476,,49,7426,421
3220,Udayapur,Triyuga Municipality,15961,4302,,475,33224,3339
3221,Udayapur,Valayadanda,4952,1052,,40,13673,596
3222,Udayapur,Mayankhu,1528,599,,3,2726,197

In [74]:
df.to_csv('Data.csv',index=True)