# In this notebook, we perform Exploratory Data Analysis where different operation are performed.

In [138]:
#importing necessary libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [139]:
#reading dataset

df=pd.read_csv('/Users/bibekrai/workspace/Nepal-Livestock-Analysis/Data.csv')

In [140]:
df=df.drop(columns='Unnamed: 0')

In [141]:
df

,Districts,VDC/Municipality,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
0,Sankhuwasabha,Ankhibhui,4679.0,1197.0,3.0,69.0,9081.0,1557.0
1,Sankhuwasabha,Bahrabise,1800.0,241.0,NaN,215.0,2396.0,328.0
2,Sankhuwasabha,Bala,1723.0,172.0,NaN,369.0,1740.0,754.0
3,Sankhuwasabha,Bana,3221.0,706.0,NaN,35.0,5364.0,967.0
4,Sankhuwasabha,Baneswor,2476.0,619.0,3.0,NaN,4922.0,765.0
...,...,...,...,...,...,...,...,...
3100,Udayapur,Thoksila,8664.0,3156.0,NaN,366.0,13386.0,2359.0
3101,Udayapur,Tribeni,3218.0,1476.0,NaN,49.0,7426.0,421.0
3102,Udayapur,Triyuga Municipality,15961.0,4302.0,NaN,475.0,33224.0,3339.0
3103,Udayapur,Valayadanda,4952.0,1052.0,NaN,40.0,13673.0,596.0
3104,Udayapur,Mayankhu,1528.0,599.0,NaN,3.0,2726.0,197.0

In [142]:
df.dtypes

Districts            object
VDC/Municipality     object
Cattle              float64
Buffalo             float64
Yak/ Nak/ Chauri    float64
Sheep               float64
Goat                float64
Pig                 float64
dtype: object

In [143]:
df.isnull().sum()

Districts              0
VDC/Municipality       0
Cattle                 1
Buffalo               21
Yak/ Nak/ Chauri    2625
Sheep                788
Goat                   3
Pig                  300
dtype: int64

In [144]:
df['Cattle'].fillna(df['Cattle'].median(),inplace=True)

In [145]:
df['Buffalo'].fillna(df['Buffalo'].median(),inplace=True)

In [146]:
df['Goat'].fillna(df['Goat'].median(),inplace=True)

In [147]:
df['Pig'].fillna(df['Pig'].median(),inplace=True)

In [148]:
df['Sheep'].fillna(df['Sheep'].median(),inplace=True)

In [149]:
df['Yak/ Nak/ Chauri'].fillna(df['Yak/ Nak/ Chauri'].median(),inplace=True)

In [150]:
df['Cattle'] = df['Cattle'].apply(lambda x: int(x))

In [151]:
df['Buffalo'] = df['Buffalo'].apply(lambda x: int(x))

In [152]:
df['Goat']=df['Goat'].apply(lambda x:int(x))

In [153]:
df['Pig'] = df['Pig'].apply(lambda x: int(x))

In [154]:
df['Sheep'] = df['Sheep'].apply(lambda x: int(x))

In [155]:
df['Yak/ Nak/ Chauri'] = df['Yak/ Nak/ Chauri'].apply(lambda x: int(x))

In [156]:
df.dtypes

Districts           object
VDC/Municipality    object
Cattle               int64
Buffalo              int64
Yak/ Nak/ Chauri     int64
Sheep                int64
Goat                 int64
Pig                  int64
dtype: object

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3105 entries, 0 to 3104
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Districts         3105 non-null   object
 1   VDC/Municipality  3105 non-null   object
 2   Cattle            3105 non-null   int64
 3   Buffalo           3105 non-null   int64
 4   Yak/ Nak/ Chauri  3105 non-null   int64
 5   Sheep             3105 non-null   int64
 6   Goat              3105 non-null   int64
 7   Pig               3105 non-null   int64
dtypes: int64(6), object(2)
memory usage: 194.2+ KB

In [158]:
df.describe()

,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
count,3105.000000,3105.000000,3105.000000,3105.000000,3105.000000,3105.000000
mean,1798.536554,779.011594,16.281481,181.840580,2970.770370,253.409662
std,1639.427640,658.033740,84.203358,502.040605,2438.827948,460.957030
min,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000
25%,785.000000,356.000000,5.000000,16.000000,1380.000000,22.000000
50%,1386.000000,627.000000,5.000000,41.000000,2311.000000,76.000000
75%,2329.000000,1020.000000,5.000000,115.000000,3743.000000,302.000000
max,30032.000000,12781.000000,2064.000000,7917.000000,33224.000000,7430.000000

In [159]:
df.shape

(3105, 8)

In [167]:
#VDC/Muncipality count

df['Districts'].value_counts()

Saptari           115
Siraha            108
Sarlahi           100
Bara               99
Rautahat           97
Kavrepalanchok     90
Sindhupalchok      79
Mahottari          77
Khotang            76
Achham             75
Rupandehi          71
Morang             66
Baitadi            63
Bhojpur            63
Nuwakot            62
Syangja            62
Baglung            60
Kathmandu          59
Dailekh            56
Okhaldhunga        56
Ramechhap          55
Sindhuli           54
Dolakha            52
Sunsari            52
Rolpa              51
Doti               51
Surkhet            51
Jhapa              50
Dhading            50
Taplejung          50
Ilam               49
Salyan             47
Tanahu             47
Bajhang            47
Banke              47
Udayapur           45
Kailali            44
Makwanpur          44
Rukum              43
Lalitpur           42
Arghakhanchi       42
Panchthar          41
Dang               41
Darchula           41
Dhankuta           36
Sankhuwasabha      34
Solukhumbu         34
Terhathum          32
Bardiya            32
Jumla              30
Jajarkot           30
Kalikot            30
Humla              27
Bajura             27
Mugu               24
Dolpa              22
Dadeldhura         21
Kanchanpur         20
Bhaktapur          18
Rasuwa             18
Name: Districts, dtype: int64

In [201]:
x1=df['Buffalo'].sum()

In [202]:
x2=df['Cattle'].sum()

In [203]:
x3=df['Goat'].sum()

In [204]:
x4=df['Pig'].sum()

In [205]:
x5=df['Sheep'].sum()

In [206]:
x6=df['Yak/ Nak/ Chauri'].sum()

In [161]:
df.to_csv('test_data.csv')