# In this notebook, we perform Exploratory Data Analysis where different operation are performed.

In [19]:
#importing necessary libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
#reading dataset

df=pd.read_csv('/Users/bibekrai/workspace/Nepal-Livestock-Analysis/Data.csv')

In [21]:
df=df.drop(columns='Unnamed: 0')

In [22]:
df

,Districts,VDC/Municipality,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
0,Sankhuwasabha,Ankhibhui,4679,1197,3,69,9081,1557
1,Sankhuwasabha,Bahrabise,1800,241,-,215,2396,328
2,Sankhuwasabha,Bala,1723,172,-,369,1740,754
3,Sankhuwasabha,Bana,3221,706,-,35,5364,967
4,Sankhuwasabha,Baneswor,2476,619,3,-,4922,765
...,...,...,...,...,...,...,...,...
3100,Udayapur,Thoksila,8664,3156,-,366,13386,2359
3101,Udayapur,Tribeni,3218,1476,-,49,7426,421
3102,Udayapur,Triyuga Municipality,15961,4302,-,475,33224,3339
3103,Udayapur,Valayadanda,4952,1052,-,40,13673,596
3104,Udayapur,Mayankhu,1528,599,-,3,2726,197

In [23]:
df.dtypes

Districts           object
VDC/Municipality    object
Cattle              object
Buffalo             object
Yak/ Nak/ Chauri    object
Sheep               object
Goat                object
Pig                 object
dtype: object

In [29]:
df=df['Cattle'].apply(lambda x: int(x) if isinstance(x, object) else x)

ValueError: invalid literal for int() with base 10: '-'

In [25]:
df

,Districts,VDC/Municipality,Cattle,Buffalo,Yak/ Nak/ Chauri,Sheep,Goat,Pig
0,Sankhuwasabha,Ankhibhui,4679,1197,3,69,9081,1557
1,Sankhuwasabha,Bahrabise,1800,241,-,215,2396,328
2,Sankhuwasabha,Bala,1723,172,-,369,1740,754
3,Sankhuwasabha,Bana,3221,706,-,35,5364,967
4,Sankhuwasabha,Baneswor,2476,619,3,-,4922,765
...,...,...,...,...,...,...,...,...
3100,Udayapur,Thoksila,8664,3156,-,366,13386,2359
3101,Udayapur,Tribeni,3218,1476,-,49,7426,421
3102,Udayapur,Triyuga Municipality,15961,4302,-,475,33224,3339
3103,Udayapur,Valayadanda,4952,1052,-,40,13673,596
3104,Udayapur,Mayankhu,1528,599,-,3,2726,197